################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PrintSpooler/.vs/PrintSpooler
/PrintSpooler/PrintSpooler.ClassLib/obj
/PrintSpooler/PrintSpooler.ConApp/obj
